.navbar {
    background-color: #0b0c10;
}

.brand {
    color: #66fcf1 !important;
    font-size: 2rem;
    font-weight: bold;
}
.nav-link {
    color: #45a29e !important;
}

.nav-link.active {
    color: #66fcf1 !important;
    font-weight: 1000;
}

.navbar-toggler {
    background-color: #66fcf1 !important;
}
