.array-container, .selected-array-container {
    background-color: #373b3e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #bec8d1;
    box-shadow: 0px 0px 8px rgba(190, 200, 209, 0.397);
    user-select: none;
    text-align: center;
    overflow: hidden;
    padding: 5px;
}

.array, .selected-array {
    position: absolute;
    background-color: #373b3e;
    display: flex;
    flex-direction: column;
    border: 1px solid #bec8d1;
    box-shadow: 0px 0px 8px rgba(190, 200, 209, 0.397);
    overflow: hidden;
}

h3 {
    color: #137a7f;
}

.array-options {
    position: absolute;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.array-options button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: #bec8d1;
    cursor: pointer;
    border-radius: 90%;
}

.arrayNode {
    margin: 10px;
    box-sizing: content-box;
}

.arrayNodeIndex {
    background-color: aqua;
}
.arrayNodeDisplay {
    background-color: red;

}
.arrayNode:hover, .selected-arrayNode:hover {
    background-color: #137a7f;
}
