.button-container {
    display: flex;
    gap: 10px;
}

.btn {
    background-color: #e0e0e0;
    color: black;
    font-weight: 500;
}

.btn:hover {
    background-color: black;
    color: white;
}

.btn.active {
    background-color: black !important;
    color: white !important;
}

.view-selection-menu {
    display: flex;
    width: 100%;
}

.view-selection-menu > *{
    padding: 5px;
    flex-grow: 1;
}