.node {
    position: absolute;
    width: 80px; /* Adjust size as needed */
    height: 80px; /* Adjust size as needed */
    background-color: darkslateblue;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    border: 1px solid whitesmoke; /* Optional */
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.397); /* Optional for a nicer look */
    user-select: none; /* Prevents text selection */
    text-align: center; /* Ensures text is centered if it wraps */
    overflow: hidden; /* Prevents content from spilling outside */
    border-radius: 90%;
}
.node p {
    line-height: 100px; /* Match the height of the container */
    font-size: larger;
    margin: 0; /* Remove default paragraph margins */
    color: white;
}
