.popup p {
    width: 220px;
    border: 1px solid #6c757d;
    border-radius: 10px;
    padding: 10px;
    background-color: #6c757d;
    color: white;
}

canvas {
    border-radius: 5px;
    background-color: gray;
    background-image: linear-gradient(to bottom right, rgb(0, 6, 56), rgb(0,36,0));
}