.popup p {
    width: 220px;
    border: 1px solid #6c757d;
    border-radius: 10px;
    padding: 10px;
    background-color: #6c757d;
    color: white;
}

canvas {
    border: 3px solid orange;
    flex-grow: 3;
}