.popup p {
    width: 220px;
    border: 1px solid #6c757d;
    border-radius: 10px;
    padding: 10px;
    background-color: #6c757d;
    color: white;
}

canvas {
    background-color: #d9d9d9;
    /*background-image: linear-gradient(to bottom right, rgb(5, 6, 15), rgb(0, 14, 14));*/
}
