.toolbar {
    display: flex; /* makes the toolbar a horizontal row */
    justify-content: space-between; /* seperate buttons evenly */
    padding: 5px;
    background-color:rgb(61, 2, 197);
}

.toolbar button {
    padding: 5px 15px;
    border: 1px solid #0c0122;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(113, 52, 212);
}

.toolbar button:hover {
    background-color: rgb(156, 47, 228);
}