.toolbar {
    display: flex; /* makes the toolbar a horizontal row */
    justify-content: safe center; /* centers the toolbar */
    padding-left: 5px;
    background-color: #f5f5f5;
    border-top: 2px solid #e0e0e0;
    border-bottom: 2px solid #e0e0e0;
}

.toolbar button {
    padding: 5px 15px;
    margin: 0.5rem;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    cursor: pointer;
    background-color: #e0e0e0;
    font-weight: 500;
}

.toolbar button:hover {
    background-color: black;
    color: white;
}

.toolbar button.active {
    background-color: black;
    color: white;
}
